@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@100&family=Zen+Loop&display=swap");
* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);

  line-height: 1.4em;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  font-smooth: always;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

.container * {
  position: relative;
}

.container *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  content: attr(class);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "messagebar .... .... ...."
    "asideleft .... asideright ...."
    "asideleft2 .... asideright2 .... "
    "footer .... .... ....";
}

@media all and (-ms-high-contrast: none) {
  .container {
    display: -ms-grid;
    -ms-grid-columns: repeat(4, 1fr);
    -ms-grid-rows: repeat(4, 1fr);
  }
}
.container__header h1 {
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  grid-area: messagebar;
  grid-column: 1/5;
}

.container__asideleft {
  width: 539.22px;
  height: 447.43px;
  object-fit: cover;
  grid-column: 1/3;
  grid-row: 2 / span 2;
  /* grid-area: asideleft1; */
}
/* Subgrid */

.containernestedgrid {
  display: grid;
  grid-area: asideright;
  grid-template-areas:
    "titulo"
    "parrafo"
    "backtohome ";
  grid-column: 3 / span 4;
  grid-row: 2 / span 4;
}

.containernestedgrid__article h1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  grid-area: titulo;
}
.containernestedgrid__article p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  grid-area: parrafo;
}

.containernestedgrid__article input {
  background-color: #04aa6d;
  padding: top 150px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  grid-area: backtohome;
}
